.non-toolbar-header-area {
    margin-bottom: 5%;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 5%;
}

.non-toolbar-header-title {
    display: inline-block;
    vertical-align: middle;
    margin: auto;
}

.header {
    margin: 0;
}

.main-header {
    font-size: 1.2rem;
}

.sub-header {
    font-size: 1.1rem;
}

.login-area {
    margin: 10% 2.5% 5% 5%;
}

.login-group {
    text-align: center;
    padding: 2.5% 0;
    background-color: #B2B2FF;
}

.login-entry {
    margin: 2.5px;
}

.login-text-element {
    width: 90%;
    font-size: 12px;
    text-align: left;
    padding: 15px 0%;
    border-radius: 5px;
}

.login-button-element {
    width: 90%;
    font-size: 11px;
    background-color: #b951ff;
    color: white;
    padding: 15px 32px;
}

.links-area {
    margin: 0 5%;
}

.link-line {
    margin: 3px 0;
}
.link-element {
    text-decoration: none;
    font-size: 12px;
}